.popup-menu {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -33;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    --background-popup: rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transition: right .5s linear;
}

.popup-menu_opened {
    z-index: 3;
    visibility: visible;
    opacity: 1;
    background-color: var(--background-popup);
}

.popup-menu__content {
    max-width: 520px;
    width: 100%;
    height: 100vh;
    padding-bottom: 3px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.popup-menu__close-button {
    position: absolute;
    top: 22px;
    right: 22px;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

.popup-menu__close-button:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.popup-menu__container-link {
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.popup-menu__link {
    color: black;
    text-decoration: none;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    padding-bottom: 4px;
    margin-bottom: 22px;
    position: relative;
}

.popup-menu__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.popup-menu__link:hover::after {
    width: 100%;
    left: 0;
}

@media screen and (max-width:767px) {
    .popup-menu__content {
        max-width: 320px;
        padding-bottom: 3px;
    }
    
    .popup-menu__close-button {
        top: 14px;
        right: 14px;
        padding: 0;
    }
    .popup-menu__container-link {
        padding-top: 145px;
    }
    .popup-menu__link {
        margin-bottom: 20px;
    }
}