.saved-movies { 
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    padding-bottom: 170px;
}
.saved-movies__button-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 36px;
    background: transparent;
    padding: 0;
    border: 1px solid #e8e8e8e8;
    border-radius: 9px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: center;
    margin: 80px 0 80px 0;
    cursor: pointer;
}
.saved-movies__info-text{
    font-family: Inter;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color:#A0A0A0;
    max-width: 200px;
}

.saved-movies__button-more_hidden {
    visibility: hidden;
}

.saved-movies__button-more:hover {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
}

@media screen and (max-width:1279px) {
    .saved-movies {
        max-width: 708px;
    }
}

@media screen and (max-width:767px) {
    .saved-movies {
        max-width: 300px;
    }

}