.not-found-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 246px;
}

.not-found-page__title {
    font-family: Inter;
    font-size: 140px;
    font-weight: 400;
    line-height: 169px;
    margin: 0;
}

.not-found-page__text {
    padding-top: 5px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin: 0;
}

.not-found-page__link {
    color: #2BE080;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding-top: 184px;
    text-decoration: none;
}
@media screen and (max-width:767px) {
    .not-found-page {
        padding-top: 328px;
    }
    
    .not-found-page__title {
        font-size: 80px;
        font-weight: 400;
        line-height: 97px;
    }
    
    .not-found-page__text {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        padding-top: 10px;
    }
    
    .not-found-page__link {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px; 
        padding-top: 283px;     
    }
}